@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;

}


body {
    overflow-x: hidden;
}



.header {
    position: fixed;
    background-color: #012E71;
    color: white;
    font-family: "Montserrat";
    height: 3vw;
    width: 100%;
    z-index: 100;
}



#links {
    display: flex;
    gap: 25px;
    justify-content: end;
    box-sizing: border-box;
    margin-right: 25px;
    padding-top: 15px;
}


.title_ {
    display: flex;
    position: fixed;
    justify-items: center;
    padding-top: 5px;


}

.h1 {
    color: white;
    font-size: 20px;
    font-family: "Montserrat";
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: bold;
    padding-top: 10px;


}

span {
    color: #188EF8;
}


.S_educacao {
    display: flex;
    align-items: center;
    background-color: #012E71;
    height: 50vw;
}



.p_educacao {
    color: white;
    font-family: "Montserrat";
    font-size: 60px;
    position: relative;
    z-index: 1;
    bottom: 300px;
    left: 100px;
}




#p-aprenda {
    color: white;
    font-family: "Montserrat";
    font-size: 30px;
    position: relative;
    z-index: 1;
    right: 570px;
    bottom: 80px;

}



#Kaell {
    position: relative;
    width: 40%;
    height: 50%;
    right: 50px;
    bottom: 100px;
}



.btn-baixar {
    position: relative;
    top: 100px;
    right: 950px;
    background-color: #188EF8;
    border: none;
    border-radius: 17px;
    width: 25%;
    height: 3%;
    color: white;
}


.btn-baixar:hover {
    background-color: #578bd8;
}


.orion {
    display: flex;
    justify-content: space-around;
    background-color: #8097B8;
}

#orion_img {
    width: 30%;
    height: 40%;
}

.p_sobre {
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
    font-size: 50px;
    flex-wrap: wrap;
    width: 30%;
    justify-content: center;
    font-weight: bold;
    position: relative;
    right: 120px;
    bottom: 50px;
}



#cell {
    width: 330px;
    height: 540px;
    position: relative;
    top: 100px;
    left: 100px;
}

#p_cell {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    left: 300px;
    bottom: 450px;
    font-family: "Montserrat";
    font-size: 30px;
    font-weight: bold;
}


#sub_cell {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    left:  1000px;
    bottom: 400px;
    text-align: justify;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: bold;
    width: 40%;
    flex-wrap: wrap;

}

#como_funciona{

}

#iconeYT{
    width: 100px;
    height: 100px;
}

#iconeLivro{
    width: 100px;
    height: 100px;
}

#iconeCaderno{
    width: 100px;
    height: 100px;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}



.grid-item {
   
}
