@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;

}

/* body {
    width: 100vw;
} */

.header {
    position: fixed;
    background-color: #012E71;
    color: white;
    font-family: "Montserrat";
    height: 5vh;
    width: 100vw;
    z-index: 100;
}



#links {
    display: flex;
    gap: 25px;
    justify-content: end;
    box-sizing: border-box;
    margin-right: 25px;
    padding-top: 15px;
}


.title_ {
    display: flex;
    position: fixed;
    justify-items: center;
    padding-top: 5px;

}

.h1 {
    color: white;
    font-size: 20px;
    font-family: "Montserrat";
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: bold;
    padding-top: 10px;


}

span {
    color: #188EF8;
}


.S_educacao {
    display: flex;
    align-items: center;
    background-color: #012E71;
    height: 50vw;
}



.p_educacao {
    color: white;
    font-family: "Montserrat";
    font-size: 50px;
    position: relative;
    z-index: 1;
    bottom: 250px;
    left: 100px;
    font-weight: bold;

}




#p-aprenda {
    color: white;
    font-family: "Montserrat";
    font-size: 30px;
    position: relative;
    z-index: 1;
    right: 570px;
    bottom: 80px;

}



#Kaell {
    position: relative;
    width: 40%;
    height: 50%;
    right: 50px;
    bottom: 100px;
}



.btn-baixar {
    position: relative;
    top: 100px;
    right: 950px;
    background-color: #188EF8;
    border: none;
    border-radius: 17px;
    width: 35%;
    height: 4%;
    color: white;
    box-shadow: 0px 2px gray ;
}


.btn-baixar:hover {
    background-color: #567fbd;
}


.orion {
    height: auto;
    display: flex;
    justify-content: space-around;
    background-color: #8097B8;
}

#orion_img {
    width: 30%;
    height: 40%;
}

.p_sobre {
    font-family: "Montserrat";
    font-size: 45px;
    flex-wrap: wrap;
    width: 45%;
    position: relative;
    top: 80px;
    height: 20px;
}

.sobre {
    display: flex;
    align-items: center;
    gap: 30px;
}

.cell {
    width: 25%;
    /* Ajuste conforme necessário */
}

.text {
    padding-left: 30%;
    text-justify: auto;
}

.sobre_T {
    font-size: 28px;
    margin-bottom: 20px;
    font-family: "Montserrat";
    font-weight: bold ;
}

.text p {
    font-size: 18px;
    line-height: 1.6;
    font-family: "Montserrat";
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 20px;
    /* Adiciona espaço entre os itens */
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.item img {
    width: 60px;
    /* Ajuste o tamanho dos ícones conforme necessário */
}

.item p {
    font-size: 18px;
    margin-top: 10px;
    font-family: "Montserrat";
    
}

#como_h2 {
    text-align: center;
    font-weight: bold;
    font-family: "Montserrat";
    font-size: 30px;
}





@media screen (max-width 1565){
    
}